@import url(https://db.onlinewebfonts.com/c/d02704bcbf6645d6a315fffd1ce9a296?family=Brocha+W00+Regular);
@import url(https://db.onlinewebfonts.com/c/3f6b25d74dc0ab73595e387ddc43a236?family=Brocha+W00+Semibold);
@import url(https://db.onlinewebfonts.com/c/0f061393ca256198aa7f3a9c1bfb370a?family=Brocha+W00+Bold);
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: 'Palatino Linotype';
  src: url('../../../public/palatino-linotype.ttf') format('truetype'),
 
}


* {
  box-sizing: border-box;
}
h1{
  font-family: Palatino Linotype;
font-size: 44px;
font-weight: 700;
line-height: 55px;
text-align: left;

}
p{
  
font-family: Palatino Linotype;

}
.stories_view-frame p{
font-size: 20px;
font-weight: 400;
line-height: 36px;
text-align: left;
font-family: "Libre Franklin", sans-serif;
}

.stories_view-frame span{
  font-family: "Brocha W00 Regular";
  font-size: 20px;
  font-weight: 500;
  line-height: 36px;
  text-align: left;
  
  }


.text-wrapper-2{
  font-family: "Brocha W00 Regular";
  font-weight: 500 !important;
}

.sign-up, .sign-up-1, .sign-up-2, .sign-up-3{
  font-family: "Brocha W00 Regular";
font-size: 16px;
font-weight: 500;
line-height: 16px;
text-align: left;

}
.text-wrapper-3 {
	font-weight: 700;
}
.text-wrapper-15{
font-family: "Brocha W00 Semibold";
font-size: 20px;
font-weight: 600;
line-height: 36px;
text-align: left;

}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;

}

a {
  color: inherit;
  text-decoration: none;
}
*
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} 
.heading.d-flex {
  margin: 15px 0;
}
.two
{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dot
{
  width: 30px;
  height: 40px;
}
.p-10
{
  padding: 1rem 0;
}
.home-page-final {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .home-page-final .overlap-wrapper {
    background-color: #ffffff;
    width: 100%;
  }
  
  .home-page-final .overlap {
    position: relative;
  }
  .line {
    width: 250px;
    height: 10px;
    border-radius: 20px;
    margin: 2rem 0;
    background-color: rgb(82, 199, 82);
}
h1 {
  font-size: 50px;
  color: white;
}
h1 span
{
  color :rgb(82, 199, 82);
}
.font
{
  position: relative;
}
.font img {
  position: absolute;
  width: 63px;
  top: 100%;
  left: 40%;
  height: 100px;
  rotate: -60deg;
  transform: rotateY(180deg);
}


  /* .home-page-final .line {
    position: absolute;
    width: 1440px;
    height: 1px;
    top: 0;
    left: 0;
  } */
  
  /* .home-page-final .https-lottiefiles {
    position: absolute;
    width: 150px;
    height: 36px;
    top: 0;
    left: 645px;
    object-fit: cover;
  } */
  
  /* .home-page-final .frame {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 0;
    left: 0;
  } */
  
  .home-page-final .hero-screen {
    position: relative;
    object-fit: cover;
    height: 100vh;
    width: 100%;
    /* filter: blur(3px); */
  }

  .content {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    padding-top: 10rem;
    padding-left: 10rem;
    background: linear-gradient(90deg, rgb(0, 0, 0), transparent, transparent);
}

/* navbar */
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 24px 5rem;
  border:0.5px solid #e6e6e6;
  margin-top:-10px;
}
.bar
{
  display: flex;
  flex-direction: column;
  gap: 5px;
  display: none;
}
.lines
{
  width: 30px;
  height: 5px;
  border-radius: 20px;
  background-color: black;
}

img.layer {
  width: 100px;
}

.nav-link {
  display: flex;
  gap: 20px;
  font-size: x-large;
  align-items: center;
  font-weight: bolder; 
  font-family:  'BrochaW00-Semibold';
}

/* section 2 */
.Section-2 {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 100%;
  padding:5rem 0 0 5rem ;
  background-color: #ffffff;
}

img.subtract-2 {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
}

.Section-2 .frame-6 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 1rem 0;
}
.heading .text-wrapper
{
  font-size: 24px;
  font-family:  'BrochaW00-Semibold';
}
.featured-box
{
  display: flex;
  gap: 70px;
  align-items: center;
  justify-content: space-between;
  padding-right: 5rem;
  
}
.frame-5 .img-2 {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.frame-5 .frame-6 .p
{
  font-size: 24px;
}
.oldschool-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}
.oldschool-button button {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  padding: 20px 24px;
  gap: 10px;
  background-color: white;
  align-items: center;
  margin: 2rem 0;
}
 

/* section 3 */
.section-3 {
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: #FFF9F1;
  height: auto;
  padding:5rem 5rem 0 5rem ;
  /* background-color: #ffffff; */
}
.subtract-5 {
  height: 100%;
  top: 0;
  padding: 0;
  position: absolute;
  width: 15px;
  left: 0;
}
.subtract-51 {
  
  top: 0;
  padding: 0;
  position: absolute;
  width: 15px;
  left: 0;
}

.subtract-52 {
  bottom: 0;
  top: 60.2%;
  padding: 0;
  position: absolute;
  width: 15px;
  left: 0;
}
.section-3 .frame-6,.section-3 .frame-6 .frame-15,.section-3 .frame-6 .frame-15 .frame-7,.section-3 .frame-6 .frame-7 {
  gap: 10px;
  display: flex;
  flex-direction: column;
}

 .subtract-6 {
  height: 1342px;
  top: 208px;
  position: absolute;
  width: 15px;
  left: 0;
}
.frame-10 {
  display: flex;
  align-items: center;
  margin: 4rem 0;
  gap: 24px;
  justify-content: space-between;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}
.frame5
{
  width: 616px;
  height: 700px;
}
.frame4
{
  width: 500px;
}
.rectangle {
  position: relative;
  align-self: stretch;
  width: 100%;
  object-fit: cover;
  height: 500px;
}
.rectangle-2 {
  position: relative;
  width: 100%;
  height: 400px;
  object-fit: cover;
}

/* section 4 */
.section-4 {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 100%;
  padding:5rem 5rem 0 5rem ;
  background-color: #ffffff;
}
.frame400
{
  width: 400px;
}
.frame200
{
  width: 300px;
}
.rectangle-3 {
  position: relative;
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.text-wrapper-4
{

  font-family: Palatino Linotype;
font-size: 24px;
font-weight: 400;
text-align: left;

}



/* section 5 */
.section-5 {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 100%;
  padding:5rem 5rem 0 5rem ;
  background-color: #ffffff;
}
.section-5 .text-wrapper-4 {
  font-size: 24px;
  font-family: Palatino Linotype;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
.section-5 .featured-box {
  padding-right: 0;
}
.ezgif-com-animated {
  position: relative;
  width: 100%;
  height: 500px;
  object-fit: cover;
}
.justify
{
  display: flex;
  justify-content: center;
  gap: 30px;
  padding-top: 5rem;
}

/* section 6 */
.section-6
{
    position: relative;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding:5rem 5rem 0 5rem ;
    background-color: #ffffff;
  
}
.text-wrapper-7 {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Brocha W00 Semibold";
  font-weight: 600;
  color: #1e1e13;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: 46px;
}

.text-wrapper-8 {
  position: relative;
  width: 826.23px;
  font-family: "Palatino Linotype-Regular", Helvetica;
  font-weight: 400;
  color: #1e1e13;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: 36px;
}

/* footer */
.d-flex
{
  display: flex;
}
.footer
{
  padding: 70px 100px;
  background-color: #204027;
}
.text-wrapper-10 {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Brocha W00 Regular";
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  text-align: right;
  letter-spacing: 0;
  line-height: 40px;
}
.what-is-so-coffee {
  position: relative;
  align-self: stretch;
  margin-top: -0.66px;
  color: #fff;
  font-family: "Brocha W00 Bold";
  font-weight: 700;
  font-size: 42.5px;
  letter-spacing: 0;
  line-height: 57.1px;
}
.part-1 .left {
  display: flex;
  flex-direction: column;
  margin-top: -2rem;
}
.footer .part-1
{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.right
{

  display: flex;
  align-items:end ;
  text-align: right;

}
.frame-37{
  margin-top:18px;
}
.button-3
{
  padding: 20px 24px;
  font-size: 16px;
  color: #fff;
  margin-top: 20px;
  background-color: transparent;
  width: 246px;
  height: 56px;
}
.part-2 {
  margin-top:100px;
}
.part-2 .text-wrapper-10 {
  text-align: left;
}
.copyright
{
  margin-right: 20px;
  width: 18PX;
}
.mail{
  width: 24px;
}
.featured-box.d-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.g-20
{
  gap: 60px;
}
.left.d-flex {
  
}
.g-10
{
  gap: 10px;
}
.frame-38 {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  width: 827px;
  height: 267px;
}
button.button-3.d-flex {
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: 1px solid white;
}

.featured-box-footer-mail{
  display: flex;
	gap: 14px;
	align-items: center;
	/* justify-content: space-between; */
	padding-right: 5rem;
}

/* @media quuery  */

@media screen and (max-width:550px) {
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  .heading .text-wrapper {
    font-size: 24px;
    font-weight: 900;
}
.fram400{
  padding:2px 2px;
}
.frame200{
  padding:2px 2px;
  width:261px;
}

  .content
  {
    padding: 10px;
    overflow: hidden;
  }
  .info {
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    bottom: 15%;
    padding: 0 0 0 20px;
}
    .two {
      width: 100px;
      height: 50px
    }
    .two img {
      width: 23px;
      margin-left: -10px;
  }
  /* .info img {
      width: 100px;
  } */
  .line
  {
    margin: 1rem 0;
  }
  img.dot {
    width: 10px;
    height: 17px;
    margin-top: 6px;
}
.two {
  align-items: baseline;
  padding-left: 20px;
}
h1
{
  font-size: 30px;
}
img.vic {
  width: 100px;
}
.font img {
  position: absolute;
  width: 58px;
  top: 90%;
  left: 60%;
  height: 96px;
  rotate: -60deg;
  transform: rotateY(180deg);
}

/* .navbar */
.navbar
{
  display: flex;
  align-items: center;
  position: relative;
  padding: 24px 20px;
  justify-content:space-between ;
}
.bar
{
  display: flex;
}
.nav-link {
  display: none;
  width: 100%;
  z-index: 9;
  background: whitesmoke;
  position: absolute;
  top: 100%;
  padding: 20px;
  justify-content: space-around;
  left: 0;
  right: 0;
}


.subtract-5 {
  width: 5px;
}

/* section 2 */
.Section-2
{
  padding: 5rem 0 0 0 ;
}
.Section-2 .featured-stories .featured-box
{
  display: flex;
  flex-direction: column;
  padding: 0;

}
.heading.d-flex
{
  font-size: 10px;
  justify-content: center;
  text-align: left;
}
.frame-6
{
  padding: 0 0 0 30px;
}
/* .section-3 */
.section-3
{
  padding: 2rem;
}
.subtract-51 {
  
  top: 0;
  bottom: 50%;
  height: 50%;
  padding: 0;
  position: absolute;
  width: 15px;
  left: 0;
}
.subtract-52 {
    bottom: 0;
  top: 50%;
  height: 60%;
  padding: 0;
  position: absolute;
  width: 15px;
  left: 0;
}
.row
{
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.frame-10
{
  flex-direction: column;
  margin: 0;
  gap: 30px;
}
.frame-10 .frame-6
{
  padding: 0;
}

.frame4,.frame5,.frame51
{
  width: 100%;
}
.rectangle,.rectangle-2
{
  width: 100%;
  height: 300px;
}
.section-3 .frame-6,.section-3 .frame-6 .frame-15,.section-3 .frame-6 .frame-15 .frame-7,.section-3 .frame-6 .frame-7 {
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.section-3 .frame-6 .text-wrapper-3 {
  font-family: BrochaW00-Bold;
  font-size: 14px;
  font-weight: 700;
  line-height: 20.38px;
  letter-spacing: 0.1em;
  text-align: left;
}
.section-3 .frame-6 p.text-wrapper-4 {
  font-size: 21px;
  font-weight: 100;
  line-height: 24px;
}

/* section 4 */
.section-4
{
  padding: 2rem;
}
.section-4 .frame-6
{
  padding: 0;
}
.section-4 .rectangle-2
{
  width: 300px;
}
.section-4 .featured-box
{
  flex-direction: column;
  padding: 10px;
}
.frame5{
	width: 100%;
	height: 500px;
}
.frame-6{
  margin-bottom:20px;
}
/* .section-5 */
  .section-5 
  {
    padding: 5rem 0 0 0;
  }
  .section-5 .text-wrapper-4 {
    font-size: 20px;
    font-family: Palatino Linotype;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}
  .section-5 .featured-box
  {
    flex-direction: column;
    padding: 30px;
  }
  .section-5 .frame-6
  {
    padding: 0;
  }
  .ezgif-com-animated {
    position: relative;
    width: 100%;
    height: 300px;
    object-fit: cover;
}

/* .section-6 */
.section-6
{
  padding: 5rem 30px;
  height: 100%;
}
.section-6 .text-wrapper-7
{
    font-weight: 900;
}
.section-6 .text-wrapper-8
{
  width: 100%;
}


/* .footer */

.footer
{
  padding: 2rem 20px;
  width: 100%;
}
.footer .part-1
{
  flex-direction: column;
}
.part-1 .right
{
  width:100%;
  text-align: center;
}
.part-1 .text-wrapper-10,.part-2 .text-wrapper-10
{
  text-align: center;
  font-size: 15px;
  margin:10px;
  line-height: 23px;
}
.part-2
{
  margin: 1rem 0;
}
.part-2 .featured-box {
  display: flex;
  gap: 0px;
  justify-content: center;
  align-items: center;
  padding-right: 0rem;
}
.part-1 .left {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0rem;
}
.part-2 .featured-box.d-flex
{
  flex-direction: column-reverse;
}
.right2.d-flex.g-20 {
  width: 100%;
  justify-content: space-around;
}
.frame-38 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.left.d-flex {
  gap: 0px;
  font-size:8px;
}
.copyright {
  margin-right: 3px;
}
p.what-is-so-coffee {
  display: flex;
  font-size: 28px;
}
.g-10
{
  gap:0px;
}
.what-is-so-coffee-wrapper{
  margin-bottom:40px;
}
.part-2 {
	margin: 5rem 0;
}
.right2.d-flex.g-20 {
	width: 100%;
	justify-content: space-between;
}
.left.d-flex {
	gap: 0px;
	font-size: 8px;
	margin-left: -20px;
}
.section-4 .frame-6 {
	padding: 15px;
}
.section-4 .frame-6r {
	padding: 15px;
}
.section-4 .rectangle-2 {
	width: 261px;
	
}
.section-4 .rectangle-3 {
	width: 261px;
	
}
  }
  

  /* article page */

  .featured-stories-new{
    padding-top:104px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 36px;
    margin: auto !important;
  }

  .article-heading{
    font-family: Palatino Linotype;
font-size: 54px;
font-weight: 400;
line-height: 60px;
text-align: left;
color: #1E1E13;

  }
  .stories_view-frame{
    display: flex;
    align-items: center;
    gap:3px;
    margin-top:16px;
  
  }

  .stories_img{
    width: 36px;
height: 36px;

  }

  .stories_hero_section{
    width: 1380px;
height: 814px;
gap: 0px;
opacity: 0px;
background-image: url(/954466b55d2f348b933aa20166600087.jpeg);
background-repeat: no-repeat;
background-position: center;
margin:0 auto;
position: relative;
  }

  @media screen and (max-width:550px) {
    .stories_hero_section {
      width: 100%;
      height: 400px;
    }
  }

  .profile-overview{
    background: #fff;
    width: 1120px;
height: auto;
border:1px solid #acacac;
padding: 60px 80px 60px 80px;
gap: 16px;
border: 1px 0px 0px 0px;
opacity: 0px;
margin:auto;
position: absolute;
top:680px;
left:130px;

  }

  .overview-text{
    font-family: BrochaW00-Regular;
font-size: 30px;
font-weight: 500;
line-height: 44px;
text-align: left;
color: #1E1E13;

  }
  .overview-heading{
    font-family: "Brocha W00 Bold";
font-size: 24px;
font-weight: 700;
line-height: 40px;
text-align: left;
color: #1E1E13;
margin-left: 70px;
  }

  .main-content{
    width: auto;
    margin-top:600px;
    margin-left:220px
  }
  .article-content{
    font-family: Palatino Linotype;
font-size: 28px;
font-weight: 400;
line-height: 40px;
text-align: left;
padding: 0 120px 0 120px;
margin-top:36px;

  }
  .drop-cap {
    font-size: 3em;
    float: left;
    line-height: 1;
    margin-right: 8px;
    font-family: Palatino Linotype;
}

.article-content-heading{
  font-family: Palatino Linotype;
font-size: 28px;
font-weight: 700;
line-height: 40px;
text-align: left;


}
.article_img{
  width: 960px;
height: 540px;

}
.article_img_pera{
  font-family: Palatino Linotype;
font-size: 18px;
font-style: italic;
font-weight: 400;
line-height: 24px;
text-align: left;

}
.article-overview{
  width: 960px;
height: 478px;
padding: 60px 60px 60px 80px;
gap: 16px;
opacity: 0px;

}

.article-overview-text{
  font-family: "Brocha W00 Bold";
font-size: 44px;
font-weight: 700;
line-height: 56px;
text-align: left;
color: #666666;


}

.article-overview-text-name{
  font-family: "Brocha W00 Regular";
font-size: 32px;
font-weight: 500;
line-height: 72px;
text-align: left;
color: #666666;

}
.article-overview-content{
  width: 735px;
height:444.58px;
gap: 28px;
box-sizing: border-box;

}

.article-overview-content-box{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.article-content-icon{
  fill: red;
}
.image-container-two {
  display: flex;
  justify-content: space-evenly;
}
.image-item {
  text-align: center;
  margin: 10px;
}
.image-item img {
  width: 440px; /* Adjust width according to preference */
  height: 760px;
  
}
.caption {
  margin-top: 10px;
}
.sticky-navbar{
  position: sticky;
}
.fixed-navbar{
  position: fixed;
  z-index: 1000;
  background: #fff;
}

.article-insta-section{
  height:auto;
  width: 1200px;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 20px;
}

.text-section {
  font-family: "Brocha W00 Bold";
font-size: 51.84px;
font-weight: 700;
line-height: 69.66px;
text-align: left;
color:#b2b2b2
}

.text-section span {
  display: block;
  color: #b2b2b2;

}

.text-section .instagram {
  color: #87B79D;
  font-weight: bold;
}

.instagram-card {
  border-radius: 15px;
  overflow: hidden;
  max-width: 350px;
  position: relative;
}

.instagram-card img {
  width: 100%;
}




.featured-stories-section{
  width: 1200px;
  height: auto;
  margin: 70px auto;
  
}

.container-stories-section {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
 
}

.featured-stories-section-heading {
font-family: BrochaW00-Semibold;
font-size: 24px;
text-align: left;
font-weight: 600;
line-height: 40px;
color:#1e1e13;
text-transform: uppercase;
margin-bottom:24px;

}

.card-container {
  display: flex;
  justify-content: space-evenly;
  gap: 40px;
  flex-wrap: wrap;
}

.card {
  max-width: 300px;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: auto;
}

.card-text {
  font-family: Palatino Linotype;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  text-align: left;
  color:#1e1e13;
  margin-top:24px;
  
}
.article-insta-section{
  margin: 50px auto;
}
.featured-stories-section{

}

@media (max-width: 768px) {
  .card-container {
      flex-direction: column;
      gap: 20px; /* Reducing the gap on smaller screens */
  }
}

@media screen and (max-width:550px) {

  .article-heading{
    font-family: Palatino Linotype;
font-size: 24px;
font-weight: 400;
line-height: 28px;
text-align: left;

  }
  .text-wrapper-phone{
    font-family: BrochaW00-Semibold;
font-size: 14px !important;
font-weight: 600 !important;
line-height: 10.32px !important;
text-align: left;

  }

  .featured-stories-new{
    padding: 20px;
    margin-top:104px !important;
  }
  .arrow-img-phone{
    width: 11px;
    height: 11px;
  }
  .heading-mobile{
    text-align: left !important;
  }

  /* .stories_hero_section{
    width: 100vw;
height: 478px;
  } */
  .profile-overview{
    top:300px;
left:0;
padding: 20px;
margin: 20px;
height:auto;
width:auto;
margin: 10 auto;

  }

  .overview-heading{
    font-family: BrochaW00-Bold;
font-size: 12px;
font-weight: 700;
line-height: 10px;
text-align: left;


  }
  .overview-text{
    font-family: BrochaW00-Regular;
font-size: 18px;
font-weight: 500;
line-height: 24px;
text-align: left;

  }
  .article-content{
    font-family: Palatino Linotype;
font-size: 18px;
font-weight: 400;
line-height: 24px;
text-align: left;
margin-top:-50px;

  }
  .main-content{
    width: auto;
  margin-top: 400px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 20px;

  }
  .article-content{
    padding: 30px 10px;
  }
  .article_img {
    width: 100%; /* Make it take the full width of the container */
    height: auto; /* Automatically adjust the height to maintain aspect ratio */
  }

  .article-overview {
    width: 100%; /* Make it take the full width of the container */
    height: auto; /* Let the height adjust based on content */
    padding: 20px 20px 20px 20px; /* Adjust padding to be more mobile-friendly */
    gap: 8px; /* Reduce gap to fit smaller screens */
  }
  .article-overview-text{
    font-family: BrochaW00-Regular;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
  }
  .article-overview-content {
    width: 208px;
    height: 227.17px;
    padding: 1.5px 24px 17.5px 16px;
    gap: 16px;
  }
 .article-content-icon{
  width: 67.12px;
height: 38px;
gap: 0px;

 }
 .article-overview-text-name{
  font-family: BrochaW00-Bold;
font-size: 18px;
font-weight: 700;
line-height: 24px;
text-align: left;

 }
 .share-btn img{
  height: 32px;
  width: 32px;
 }
 .article-content-heading{
  font-family: Palatino Linotype;
font-size: 18px;
font-weight: 700;
line-height: 24px;
text-align: left;
 }
 .image-item img{
  width: 137.5px;
height: 218.75px;
gap: 0px;

 }
 .article_img_pera{
  font-family: Palatino Linotype;
font-size: 10px;
font-style: italic;
font-weight: 400;
line-height: 12px;
text-align: left;

 }
 .image-container-two{
  margin-bottom:24px;
 }
 .article-insta-section{
  width: auto;
  height: 265px;
 }
 .text-section {
  text-align: center;
  max-width: 100%;
  font-size: 18px;
  line-height: 25px;
  font-weight: 700;
}

.instagram-card {
  max-width: 100%;
}
.instagram-card img{
  width: 156.48px;
height: 205.78px;
}
.container{
  flex-direction: row;
}
.featured-stories-section-heading{
  font-family: BrochaW00-Semibold;
font-size: 14px;
font-weight: 600;
line-height: 10px;
text-align: center;

}
}