.tag{
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    font-size: 0.875rem;
    text-transform: lowercase;
    border: 1px solid #2d3748;
    transition: color 0.2s ease-in-out;
    
    &:hover {
        color: #9f7aea;
    }
}